<!DOCTYPE html>
<html>
<head>
<title>Penguin Home</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>🐧 Penguin Learning</h1>

<h2>Welcome {{session['username']}}</h2>

<div class="menu">
    <a href="/conversation">
<button>🗣️ Conversation Mode</button></a>

<a href="/language"><button>🌎 Language Game</button></a>

<a href="/flappy"><button>🐧 Flappy Penguins</button></a>

<a href="/leaderboard"><button>🏆 Leaderboard</button></a>

<a href="/logout"><button>Logout</button></a>

<a href="/penguin"><button>🐧 My Penguin</button></a>

</div>

</body>
</html>